{% extends "base.html" %} {% block content %}

       


        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3">Что это такое?</h1>
              <p class="lead">Текст про то, что это такое</p>
            </div>
          </div>
        </div>
        
        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3">Как этим пользоваться?</h1>
              <p class="lead">Инструкция</p>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
            </div>
          </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3">Кто вы такие?</h1>
              <p class="lead">Мы студенты 3 курса ПМИ ФКН бла-бла-бла</p>
            </div>
          </div>
        </div>
{% endblock %}