{% extends "base.html" %} {% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ search_form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group px-4 py-5 text-center">
                <h1 class="display-5 fw-bold" style="font-family: 'Lyrica Deco'">Поиск</h1>
                <ul class="justify-content-center nav col-12 col-lg-auto my-2 my-md-0 text-small">
                    <li class="col-lg-11">
                        {{ search_form.olympiad_name_substr(class_="form-control
                        form-text",
                        placeholder=search_form.olympiad_name_substr.description)}}
                    </li>
                </ul>
                <br>
                <div>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li class="col-lg-1">
                            <h5><strong>Предметы:</strong></h5>
                        </li>
                        <li class="col-lg-1">
                        </li>
                        <li class="col-lg-9">
                            {% for field in search_form.choose_fields %}
                            {{ field(class_="btn-check") }}
                            {{ field.label(class_="btn btn-outline-secondary btn-sm h6") }}
                            {% endfor %}
                        </li>
                        <li class="col-lg-1">
                        </li>
                    </ul>
                </div>
                <br>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-left my-md-0 text-small">
                    <li class="col-lg-1">
                        <h5><strong>Классы:</strong></h5>
                    </li>
                    <li>
                        <h5>С &nbsp; &nbsp;</h5>
                    </li>
                    <li>
                        {{ search_form.min_class(class_="form-select", required="") }}
                    </li>
                    <li>
                        <h5>&nbsp; &nbsp; по &nbsp; &nbsp;</h5>
                    </li>
                    <li>
                        {{ search_form.max_class(class_="form-select", required="") }}
                    </li>
                  </ul>
                <br>
                
                <ul class="nav col-12 col-lg-auto my-2 justify-content-left my-md-0 text-small">
                    <li class="col-lg-1">
                    </li>
                    <li>
                        <div class="form-check form-switch h5">
                        {{ search_form.user_belong(class_="form-check-input") }}
                        {{ search_form.user_belong.label }}
                        </div>
                    </li>
                </ul>
                <ul class="justify-content-center nav col-12 col-lg-auto my-2 my-md-0 text-small">
                    <li class="col-lg-11">
                        {{ search_form.search_submit(class="btn btn-warning") }}
                    </li>
                </ul>
            </div>
        </fieldset>
        {{ choose_form.hidden_tag() }}
        <fieldset class="form-group px-4">
            <h1 class="display-5 fw-bold" style="font-family: 'Lyrica Deco'">Результаты</h1>
            <div class="form-group text-center">
                {{ choose_form.choose_submit(class="btn btn-outline-warning") }}
            </div>
            <br>
            {% for choice in choose_form.choose_olympiads %}
            {% if choice.data|int in needed_olympiads_id %}
            <div class="list-group ">
                <label class="list-group-item list-group-item-action h5">
                {{ choice(class="form-check-input me-1", type="checkbox") }}
                {{ choice.label() }}
                </label>
            </div>
            {% endif %}
            {% endfor %}
            <br>
            <div class="form-group text-center">
                {{ choose_form.choose_submit(class="btn btn-outline-warning") }}
            </div>
            <br>
        </fieldset>
    </form>
</div>

{% endblock %}