{% extends "base.html" %} {% block content %}
        

        <div class="bg-dark text-secondary px-4 py-5 text-center border-bottom ">
          <h1 class="display-5 fw-bold text-white" style="font-family: 'Lyrica Deco'">Олимпиадный календарь</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Удобное и быстрое планирование олимпиадных мероприятий, наглядный календарь и возможность интеграции в Google-календарь.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
              {% if not is_login %}
              <!-- АВТОРИЗАЦИЯ ТУТ -->
              <a type="button" href="{{ url_for('authorize') }}" class="btn btn-outline-warning btn-lg px-4 me-sm-3 fw-bold">Авторизация через Google</a>
              {% endif %}
            </div>
          </div>
          <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
              <img src="../static/images/example.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Olympdate" width="700" height="500" loading="lazy">
            </div>
          </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3">Что это такое?</h1>
              <p class="lead">Текст про то, что это такое</p>
            </div>
          </div>
        </div>
        
        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3">Как этим пользоваться?</h1>
              <p class="lead">Инструкция</p>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
            </div>
          </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3">Кто вы такие?</h1>
              <p class="lead">Мы студенты 3 курса ПМИ ФКН бла-бла-бла</p>
            </div>
          </div>
        </div>
{% endblock %}